# SCRAPPER TO SCRAP TOP TEN STOCKS FROM WEBSITE:
https://www.pivottrading.co.in/scanner/openHighLowScanner.php

In [1]:
pip install html-table-parser-python3

Collecting html-table-parser-python3
  Downloading https://files.pythonhosted.org/packages/91/c2/2cf839cec7227e5f1f03fed871c449ad38a47fe73975c3ca57edb9b89207/html_table_parser_python3-0.1.5-py3-none-any.whl
Installing collected packages: html-table-parser-python3
Successfully installed html-table-parser-python3-0.1.5

In [2]:
# Library for opening url and creating 
# requests
import urllib.request

# pretty-print python data structures
from pprint import pprint

# for parsing all the tables present 
# on the website
from html_table_parser import HTMLTableParser

# for converting the parsed data in a
# pandas dataframe
import pandas as pd

In [3]:
# Opens a website and read its
# binary contents (HTTP Response Body)
def url_get_contents(url):

    # Opens a website and read its
    # binary contents (HTTP Response Body)

    #making request to the website
    req = urllib.request.Request(url=url)
    f = urllib.request.urlopen(req)

    #reading contents of the website
    return f.read()

In [4]:
# defining the html contents of a URL.
xhtml = url_get_contents('https://www.pivottrading.co.in/scanner/openHighLowScanner.php').decode('utf-8')

# Defining the HTMLTableParser object
p = HTMLTableParser()

# feeding the html contents in the
# HTMLTableParser object
p.feed(xhtml)

# Now finally obtaining the data of
# the table required
ttable= p.tables[-3][2:]

In [5]:
def oholt(table):
  columnnames = table[0][1:]
  columnnames.pop(0)
  rows = table[1:]
  nrows = []
  for i in rows:
    temp = []
    if len(i) > 1:
      for j in i:
        if j != '':
          temp.append(j)
      nrows.append(temp)
  final_table = []
  # final_table.append(columnnames)
  for i in nrows:
    final_table.append(i)
  df = pd.DataFrame(final_table, columns = columnnames)
  return df

In [6]:
oholt(ttable) #data of - date : 09-04-2021 time: 20:45

   SrNo       Scrip  ...                    Target                          Result
0     1        NTPC  ...   103.65 Target @ Zerodha                Target achieved.
1     2  HINDUNILVR  ...   2505.5 Target @ Zerodha                            None
2     3        INFY  ...  1435.65 Target @ Zerodha                Target achieved.
3     4        BPCL  ...   426.05 Target @ Zerodha  Target achieved. Stoploss hit.
4     5        SBIN  ...   349.95 Target @ Zerodha                   Stoploss hit.
5     6       TECHM  ...   1011.8 Target @ Zerodha                   Stoploss hit.
6     7          LT  ...   1390.6 Target @ Zerodha                   Stoploss hit.
7     8   ICICIBANK  ...   561.55 Target @ Zerodha                   Stoploss hit.
8     9         UPL  ...   641.05 Target @ Zerodha                Target achieved.
9    10   POWERGRID  ...    212.2 Target @ Zerodha                   Stoploss hit.
10   11        ONGC  ...    104.9 Target @ Zerodha                            None

[11 rows x 9 columns]